@import "tailwindcss";

@theme {
  --color-primary-teal: #00bfa5;
  --color-light-teal: #e0f2f1;
  --color-dark-teal: #00897b;
  --color-bg-gray: #f5f5f5;
}

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.animate-dash path {
  stroke-dasharray: 50 50;
  stroke-dashoffset: 1000;
  animation: dash 5s linear infinite;
}